.container {
    /* max-width: 800px; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

.container header {
    display: flex;
    align-items: normal;
}

.container h1 {
    order: 0;
}

.container button {
    order: 1;
    margin-left: 40%;
}

body {
    background-color: hsla(169.06, 100%, 35.49%, 1);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 25px;
    scroll-behavior: smooth
        /* font-family: Neue Hass Grotesk Display;  Open Sans */
}


.get-connected img {
    float: right;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    margin: 5px 2px;
}

.get-connected:hover {
    opacity: 0.8;
}

@keyframes blink {
    from {
        opacity: 0.6;
      }
      to {
        opacity: 0.4;
      }
  }
  
  .placeholder {
    background-color: #dbdcdd;
    animation: blink 1s infinite alternate-reverse;
  }


header {
    text-align: left;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.one-liner {
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}


main section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    margin-top: 4%;
}

.copyright {
    font-size: 18px;
}

.about-content {
    display: flex;
    align-items: center;
}



.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 30px;
}

.about-text p {
    font-size: 25px;

}

.about-image {
    flex: 1;
    text-align: center;
}

.about-profile-image {
    width: 100%;
    /* Set initial width to 100% */
    max-width: 300px;
    /* Set the maximum width of the image */
    border-radius: 50%;
    margin-top: 10px;
}


.portfolio-container {
    display: flex;
    align-items: normal;
}

.portfolio-container h2 {
    flex: 1;
    /* margin-right: 40px; */
    /* margin-top: 50px; */
    /* font-size: 35px; */
}
.portfolio-heading {
    flex: 1;
}

.construction-icon i {
    color: rgb(58, 48, 146);
    /* Set the icon color */
}

@media screen and (max-width:1200px) {

    .about-profile-image {

        /* Set initial width to 100% */
        max-width: 250px;
        /* Set the maximum width of the image */
        border-radius: 50%;
        margin-top: 5px;
    }

    .one-liner {
        font-size: 25px;
    }

    .about-text h2 {
        font-size: 25px;
    }

    body {
        font-size: 20px;
    }

    .about-text p {
        font-size: 20px;

    }

    .copyright {
        font-size: 15px;
    }

}

@media screen and (max-width:800px) {
    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about-content .about-image {
        order: 0;
    }

    .about-content .about-text {
        order: 1;
    }

    .about-profile-image {

        /* Set initial width to 100% */
        max-width: 200px;
        /* Set the maximum width of the image */
        border-radius: 50%;
        margin-top: 5px;
    }

    .one-liner {
        font-size: 22.5px;
    }

    .about-text h2 {
        font-size: 22.5px;
    }

    body {
        font-size: 18.5px;
    }

    .about-text p {
        font-size: 18.5px;

    }

    .copyright {
        font-size: 13px;
    }

    .portfolio-container {
        display: flex;
        flex-direction: column;
    }

    .portfolio-container h2 {
        order: 0;
    }

    .portfolio-container .portfolio-list {
        order: 1;
    }

}

@media screen and (max-width:600px) {

    .about-profile-image {

        /* Set initial width to 100% */
        max-width: 150px;
        /* Set the maximum width of the image */
        border-radius: 50%;
        margin-top: 5px;
    }

    .one-liner {
        font-size: 20px;
    }

    .about-text h2 {
        font-size: 20px;
    }

    body {
        font-size: 15px;
    }

    .about-text p {
        font-size: 15px;

    }

    .copyright {
        font-size: 12px;
    }


}