.project {
    flex: 0 0 calc(33.33% - 20px);
    margin: 0.5%;
    position: relative;
}

.project h3 {
    cursor: pointer;
}

.project-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-toggle{
    font-size: 35px;
}


.portfolio-list {
    list-style-type: none;
    padding-left: 5%;
}

.portfolio-list li {
    /* margin-bottom: 1%; */
    border-bottom: 3px solid #ccc;
    /* padding-bottom: 1%; */
}


.project-content-image {
    display: flex;
    flex-direction: row;

}

.project-content-image .modal-container {
    order: 0;
    /* Change order of the image */
}

.project-content-image img {
    height: auto;
    width: 250px;
    object-fit: contain;
    padding-left: 10px;
    order: 1;
    max-width: 80%;
}

.project-image {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    .project-toggle{
        font-size: 30px;
    }
    .project-content-image {
        display: flex;
        /* Change to default display value for smaller screens */
        flex-direction: column;
        /* On smaller screens, switch to column layout */
    }

    .project-content-image img {
        height: auto;
        max-width: 80%;
        width: 150px;

        object-fit: contain;
        /* or object-fit: cover; */
        padding-left: 20px;
        order: 0;

    }

    .project-content-image .modal-container {
        order: 1;
        /* Change order of the image */
    }

}


@media screen and (max-width:600px) {
    .project-toggle{
        font-size: 25px;
    }
    .project-content-image {
        display: flex;
        /* Change to default display value for smaller screens */
        flex-direction: column;
        /* On smaller screens, switch to column layout */
    }

    .project-content-image img {
        height: auto;
        max-width: 60%;
        width: 110px;
        object-fit: contain;
        /* or object-fit: cover; */
        padding-left: 20px;
        order: 0;

    }

    .project-content-image .modal-container {
        order: 1;
        /* Change order of the image */
    }
}